{% extends "account/base.html" %}

{% load i18n bootstrap3 %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content_inner %}
    <h1>{% trans "Change Password" %}</h1>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change" role="form">
        {% csrf_token %}
			{% bootstrap_form form %}
			{% buttons %}
            <button type="submit" name="action" class="button button-green button-rounded">{% trans "Change Password" %}</button>
         {% endbuttons %}
    </form>
{% endblock %}
